<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    </head>
    <body>
       <div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
            <h1>{{myPercentNumber | currency: 'EUR' }}</h1>
            
            @if (faceSnap.location) {
              <p>Localisation : {{ faceSnap.location }}</p>
            } @else {
              <p>Localisation non spécifiée</p>
            }
            <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
            <p>{{ faceSnap.description }}</p>
            
            <p>FaceSnap créée le {{ faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm' }}</p>
            <p>
              <button (click)="onSnap()">{{ snapButtonText }}</button>
              <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
            </p>
          </div>
          
    </body>
</html>